$bush: green;
@function metalize($color) {
  @return $color;
  @return linear-gradient(-45deg, $color 25%, desaturate(lighten($color, 20), 50) 50%, $color 75%);
  // @return linear-gradient(
  //   -45deg,
  //   $color 25%,
  //   scale-color($color, $lightness: 20%, $saturation: -50%, $hue: -5%) 50%,
  //   $color 75%
  // );
}

.bushes {
  display: flex;
  // justify-content: space-evenly;
  // align-items: center;
  // border-bottom: solid darken($bush, 10) 3px;
  // background: dodgerblue;
  width: 200px;
  // padding-bottom: -10px;
  cursor: pointer;
  overflow: hidden;
  padding-right: 65px;
  padding-left: 20px;
  padding-top: 10px;

  .bush {
    position: relative;

    // flex: 1;
    margin-right: -50px;
    background: $bush;
    // background: linear-gradient(-45deg, $bush 30%, lighten(desaturate(lighten($bush, 10), 50), 10) 50%, $bush 70%);
    background: metalize($bush);

    height: 120px;
    width: 100px;
    bottom: -20px;
    border-radius: 50px 50px 0px 0px;
    border: $bush groove 3px;
    border-style: solid;
    // border: none;
    transform-origin: 50% 100% 0;

    &:first-child {
      background: metalize(darken($bush, 8));
      border-color: darken($bush, 12);
      // border-bottom-color: darken($bush, 8);
      height: 70px;
      align-self: flex-end;
      transform-origin: 25% 100% 0;
    }
    &:last-child {
      background: metalize(lighten($bush, 8));
      border-color: lighten($bush, 8);
      // border-bottom-color: lighten($bush, 5);
      height: 70px;
      bottom: -10px;
      align-self: flex-end;
      transform-origin: 0% 75% 0;
    }
    border-bottom: none;
  }
}
